<!DOCTYPE html>
<html>
{% load i18n %}
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="static/base.css"/>
</head>
<body>

<p>
<a href="{% url 'en' %}">English</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'es' %}">Español</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'fr' %}">Français</a>
</p>
  
<h1>{% trans "Pong game" %}</h1>

{% if request.user.is_authenticated %}
  <p>{% trans "User" %}: {{ request.user.username }}</p>
  <p><a href="{% url 'logout' %}">{% trans "Logout" %}</a></p>
  <table width='250'>
    <tr><th>{% trans "Quick match" %}</th></tr>
    <tr>
      <td>
        <p><a href="{% url 'arranque' %}">{% trans "Play" %}</a></p>
        <p><a href="{% url 'partidos_mlist' %}">{% trans "List of my matches" %}</a></p>
        <p><a href="{% url 'partidos_list' %}">{% trans "List of matches" %}</a></p>
      </td>
    </tr>
  </table>
  <table width='250'>
    <tr><th>{% trans "Tournaments" %}</th></tr>
    <tr>
      <td>
        <p><a href="{% url 'torneos_inscripcion_list' %}">{% trans "Tournament registration" %}</a></p>
        <p><a href="{% url 'torneos_info_list' %}">{% trans "Tournament information" %}</a></p -->
        <!-- p><a href="oo url 'torneo_buscar_jugar' oo">{% trans "Tournament play" %}</a></p -->
        {% if request.user.is_superuser %}
           <p><a href="torneos_admin">{% trans "Tournament administration" %}</a></p>
           <p><a href="torneos_mantenimiento">mantenimiento</a></p>
        {% endif %}
      </td>
    </tr>
  </table>
{% else %}
  <p><a href="{% url 'login' %}">{% trans "Login" %}</a></p>
  <p><a href="{% url 'signup' %}">{% trans "Signup" %}</a></p>
{% endif %}

</body>
</html>