<!DOCTYPE html>
<html>
{% load i18n %}
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" href="static/torneos.css"/>
<link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>

<h1>{% trans "Tournament registration" %}</h1>

<p>{% trans "User" %}: {{ request.user.username }}</p>
  
<table>
    <tr>
        <th>&nbsp;</th>
        <th>{% trans "Tournament name" %}</th>
        <th>{% trans "Start of registration" %}</th>
        <th>{% trans "End of registration" %}</th>
        <th>{% trans "Start of matches" %}</th>
        <th>{% trans "Maximum match duration in minutes" %}</th>
        <th>{% trans "Minutes between matches" %}</th>
    </tr>
    <tr><td colspan='7'></td></tr>
    {% for torneo in torneos %}
        <tr>
            <td><a href="torneos_inscripcion?idTorneo={{ torneo.id }}&idUser={{ user.id }}">{% trans "Registration/Cancel" %}</a></td>
            <td>{{ torneo.nombre }}</td>
            <td>{{ torneo.comienzo_inscripcion }}</td>
            <td>{{ torneo.fin_inscripcion }}</td>
            <td>{{ torneo.comienzo_partidos }}</td>
            <td>{{ torneo.minutos_duracion_maxima_partidos }}</td>
            <td>{{ torneo.minutos_entre_partidos }}</td>
        </tr>
        <tr>
            <th>{% trans "Players registered" %}</th>
            <td colspan='6'>{{ torneo.jugadores.all|join:", " }}</td>
        </tr>
        <tr><td colspan='7'></td></tr>
    {% endfor %}
</table>

<p><a href="{% url 'home' %}">{% trans "Home" %}</a></p>

</body>
</html>